:root {
  font-size: 16px;
  --bg-color-body: #fff;
  --txt-color-body: #444;
  --border-color: #999;
}
*,
:after,
:before {
  box-sizing: "border-box";
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif;
  font-weight: 200;
}
body.full-active {
  overflow: hidden;
}
[role="button"] {
  cursor: pointer;
}
.App {
  height: 100vh;
  background-color: var(--bg-color-body);
  color: var(--txt-color-body);
}
.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 55px;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: calc(50vw - 4rem);
  opacity: 0.5;
  transition: opacity 0.5s ease-in;
}
.frame.ready {
  opacity: 1;
}
.frame img,
.full img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.full .desc,
.full .header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1.8rem 1rem;
  background-color: rgb(0, 0, 0, 0.6);
}
.full .header {
  top: -100%;
}
.full .desc {
  bottom: -100%;
}
.full:hover .header {
  top: 0;
}
.full:hover .desc {
  bottom: 0;
}
.close {
  display: block;
  background: rgba(255, 255, 255, 0.4);
  color: var(--txt-color-body);
  padding: 0 0 4px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  width: 44px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
.close:focus {
  box-shadow: 0 0 10px var(--txt-color-body);
}
.search {
  display: block;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  font: inherit;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  color: inherit;
  background-color: var(--bg-color-body);
  position: fixed;
  top: 0;
  left: 0;
}
.loader {
  width: 50px;
  height: 50px;
  border: 6px solid transparent;
  border-top-color: var(--txt-color-body);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}
.error {
  padding: 5rem 1rem 2rem;
  font-weight: normal;
  color: darkred;
  text-align: center;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
